---
import MainLayout from "../layouts/MainLayout.astro";
import Skills from "../components/Skills.astro";
import Intro from "../components/Intro.astro";
import Projects from "../components/Projects.astro";
import Learn from "../components/Learn.astro";
import Contact from "../components/Contact.astro";
---
<MainLayout title="Professionelle profil til praktik">
	<article class="" x-data>
		<!-- lav motion animation der kort swiper op når der scrolles -->
        <Intro/>
        <Skills/>
        <Projects/>
	</article>
</MainLayout>


<!--

animation til moduler

 <div class="flex items-center sticky top-0 h-screen w-100 bg-blue-500">
       --hero--
        <div class="flex items-center sticky top-0 h-screen w-100 bg-blue-500">
        --sektion1--
        </div>

-->

<script>

 
</script>