---
---
<div class="bg-sky-700 text-neutral-100 text-lg lg:text-2xl xl:text-3xl">
    <p class="pt-14 pb-6 text-center">Glæder mig til at hører fra jer! </p>
    <img class="mx-auto pb-6 rubberBand" src="smily.svg" alt="smiley">
    <p class="text-center pb-14">@COPYRIGHT</p>
</div>

<script>
/*animate__rubberBand på smiley*/

import { inView } from "motion";

 
//rubberBand
const rubberBand = document.querySelector(".rubberBand");

inView(rubberBand, () => {

	rubberBand.classList.add("animate__animated", "animate__rubberBand", "animate__delay-0.5s");

}); 
</script>