---
---
<div class="bg-sky-700 text-neutral-100 text-lg lg:text-2xl xl:text-3xl">
    <div class="mx-10 md:mx-20">
        <h2 class="pt-14">KONTAKT MIG</h2>
        <div class=""> 
            <p>Du kan se mere på min LinkedIn , <br> GitHub elller du kan skrive en mail.</p>
        </div>
        <div class=" pt-10 text-lg l">
            <p>Mail</p>
            <a class="underline hover:underline-offset-4" href=mailto:“victoxen.soe@gmail.com”>victoxen.soe@gmail.com</a>
        </div>
   
    <p class="pt-14 pb-6">Glæder mig til at hører fra jer! </p>
    <img class="pb-6 rubberBand" src="smily.svg" alt="smiley">
    <p class=" pb-14">@COPYRIGHT</p>
    </div>
</div>

