---
---
<div class="flex justify-end gap-4 text-md md:text-lg mr-[20px] pt-4 text-blue-700">
    <div class=" hover:underline  hover:scale-110 hover:underline-offset-4 duration-150"> 
        <a  href="https://www.linkedin.com/in/victoria-oxenbøll-sørensen-1b1735152/">LinkedIn</a>
    </div>
   <div class=" hover:underline hover:scale-110 hover:underline-offset-4 duration-150"> 
    <a  href="https://github.com/VickiOX">GitHub</a>
   </div>
</div>
