---
---

<div>
    <h1 class="text-7xl text-neutral-500 md:text-8xl lg:text-9xl xl:text-[200px] fadeinleftnavn">
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">V</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">I</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">C</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">T</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">O</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">R</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">I</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">A</span>

        <br>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">O</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">X</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">E</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">N</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">B</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">Ø</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">L</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">L</span>

   
        <br> 

        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">S</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">Ø</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">R</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">E</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">N</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">S</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">E</span>
        <span class="hover:text-8xl md:hover:text-9xl lg:hover:text-[200px] xl:hover:text-[240px] duration-300 delay-100">N</span>

    </h1>
	<div> 
		<img src="billedeppp.JPG" alt="protrætfoto af Victoria Oxenbøll Sørensen" class="w-48 h-48 mx-auto md:w-[230px] md:h-[230px] lg:w-[280px] lg:h-[280px] xl:w-[339px] xl:h-[339px]">
	</div>
    <div class="grid grid-cols-2 text-lg md:text-xl lg:text-2xl xl:text-3xl ">
        <p class="w-[260px] md:w-[290px] lg:w-[330px] xl:w-[370px] fadeinleftinfo">Studere som multimediedesigner med fokus på Digital Design på KEA</p>
        <p class="pl-14 lg:pl-24 xl:pl-32 fadeinrightalder">23år</p>
    </div>
    <div class="banner flex pt-20 md:pt-30 lg:pt-40 "> 
        <div class="første_linje flex flex-wrap gap-2 justify-between text-3xl md:text-4xl lg:text-5xl xl:text-6xl"> 
            <p class="fadeinBanner1 hover:text-4xl hover:md:text-5xl hover:lg:text-6xl hover:xl:text-7xl duration-300">UX Design</p>
            <p class="fadeinBanner2 hover:text-4xl hover:md:text-5xl hover:lg:text-6xl hover:xl:text-7xl duration-300">Prototype</p>
            <p class="fadeinBanner3 hover:text-4xl hover:md:text-5xl hover:lg:text-6xl hover:xl:text-7xl duration-300">Digital Design</p>
            <p class="fadeinBanner4 hover:text-4xl hover:md:text-5xl hover:lg:text-6xl hover:xl:text-7xl duration-300">UI Design</p>
            <p class="fadeinBanner5 hover:text-4xl hover:md:text-5xl hover:lg:text-6xl hover:xl:text-7xl duration-300">Design Thinking</p>
            <p class="fadeinBanner6 hover:text-4xl hover:md:text-5xl hover:lg:text-6xl hover:xl:text-7xl duration-300">User Testning</p>
            <p class="fadeinBanner7 hover:text-4xl hover:md:text-5xl hover:lg:text-6xl hover:xl:text-7xl duration-300">Component Frameworks</p> 
        </div>
     
    </div>
    
</div>

<script>
      /* indsæt animate__fadeInLeft på navn med */ 

    import { inView } from "motion";

    //fadeInLeft
    const fadeinleftnavn = document.querySelector(".fadeinleftnavn");

    inView(fadeinleftnavn, () => {

        fadeinleftnavn.classList.add("animate__animated", "animate__fadeInLeft");

    }); 

       
     /* indsæt animate__fadeInLeft på info*/ 

    const fadeinleftinfo = document.querySelector(".fadeinleftinfo");

    inView(fadeinleftinfo, () => {

        fadeinleftinfo.classList.add("animate__animated", "animate__fadeInLeft");

}); 

      /* indsæt animate__fadeInRight på alder*/ 

    const fadeinrightalder = document.querySelector(".fadeinrightalder");
    inView(fadeinrightalder, () => {

        fadeinrightalder.classList.add("animate__animated", "animate__fadeInRight");

    }); 


    

 
    //fadeIn
      /* indsæt animate__fadeIn på banner med delay fra hver "random"*/ 
    const fadeinBanner1 = document.querySelector(".fadeinBanner1");

    inView(fadeinBanner1, () => {

	    fadeinBanner1.classList.add("animate__animated", "animate__fadeIn", "animate__delay-1s");

    }); 

    const fadeinBanner2 = document.querySelector(".fadeinBanner2");

    inView(fadeinBanner2, () => {

    fadeinBanner2.classList.add("animate__animated", "animate__fadeIn", "animate__delay-2s");

}); 


    const fadeinBanner3 = document.querySelector(".fadeinBanner3");

    inView(fadeinBanner3, () => {

	    fadeinBanner3.classList.add("animate__animated", "animate__fadeIn",);

    }); 

    const fadeinBanner4 = document.querySelector(".fadeinBanner4");

    inView(fadeinBanner4, () => {

        fadeinBanner4.classList.add("animate__animated", "animate__fadeIn", "animate__delay-3s");

    }); 

    const fadeinBanner5 = document.querySelector(".fadeinBanner5");

    inView(fadeinBanner5, () => {

        fadeinBanner5.classList.add("animate__animated", "animate__fadeIn", "animate__delay-2s");

    }); 

    const fadeinBanner6 = document.querySelector(".fadeinBanner6");

    inView(fadeinBanner6, () => {

        fadeinBanner6.classList.add("animate__animated", "animate__fadeIn", "animate__delay-1s");

    }); 

    const fadeinBanner7 = document.querySelector(".fadeinBanner7");

    inView(fadeinBanner7, () => {

        fadeinBanner7.classList.add("animate__animated", "animate__fadeIn");

    }); 


   

   

</script>