---
const { link } = Astro.props;
---
<div class="md:flex mt-10 justify-between ">
    <div>
        <p class="text-blue-700 text-2xl font-medium">multimediadesigner</p>

        <img src="dot_protræt.png" alt="protrætfoto af Victoria Oxenbøll Sørensen" class=" mt-6 w-full mx-auto md:hidden lg:hidden  xl:hidden">

        <div class="relative text-blue-950 pb-6"> 
        <h1 class="text-4xl md:text-6xl lg:text-7xl xl:text-8xl md:mt-28 lg:mt-36 xl:mt-32 font-semibold fadeIn">Victoria</h1>
        <h2 class=" absolute  left-3 top-8 md:left-4 md:top-12 lg:top-14 lg:left-6 xl:top-20 xl:left-8 text-2xl  md:text-3xl lg:text-4xl  xl:text-5xl w-[300px] md:w-[600px] font-semibold fadeIn2">Oxenbøll Sørensen</h2>
      
        </div>
        <p class="text-blue-950 md:w-[380px] xl:w-[560px] ml-4 md: mt-4 md:ml-5 lg:ml-7 xl:ml-10">Hi! My name is Victoria and im a multimediadesign student at KEA (Copenhagen School of Design and Technology). I will soon be finished with my education for my 2 years education for Multimediadesign, and begin on the top-up Digital Concept Development at the end of january 2025. <br> If you want to know more about me, fill free to contact me :)</p>
        <ul class="text-blue-950 ">
            <li class="my-6 ml-4 md:mt-6 md:ml-5 lg:ml-7 xl:ml-10 hover:scale-110 duration-150 hover:md:ml-10 hover:lg:ml-10 hover:xl:ml-14">
                <a href={link} class=" bg-white px-4 py-2 my-2 mr-3 rounded-full transition ease-in-out duration-300 border-2 border-white hover:text-blue-800 hover:border-blue-500 font-medium">Contact</a>
            </li>
        </ul>
       
    </div>

        <img src="dot_protræt.png" alt="protrætfoto af Victoria Oxenbøll Sørensen" class=" ml-6 hidden md:block  md:mt-10 md:w-[400px] md:absolute md:right-10 md:top-32 md:-z-10 lg:w-[580px] lg:right-10 lg:top-32  xl:-mt-4 xl:w-[680px]  xl:right-10 xl:top-32 ">

</div>
<div class="flex justify-between pt-10 lg:pt-20 xl:pt-44">
    <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
    <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
    <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
    <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
    <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
    <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
    <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
    <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
</div>

<!-- 
<div class="mt-8 hidden md:flex gap-2 text-blue-950"> 
    <p class="bg-white px-4 py-2 my-2 mr-3 rounded-full transition ease-in-out duration-300 border-2 border-white hover:border-blue-500">UX Design</p>
    <p class="bg-white px-4 py-2 my-2 mr-3 rounded-full transition ease-in-out duration-300 border-2 border-white hover:border-blue-500 ">Prototype</p>
    <p class="bg-white px-4 py-2 my-2 mr-3 rounded-full transition ease-in-out duration-300 border-2 border-white hover:border-blue-500">Implementere</p>
    <p class="bg-white px-4 py-2 my-2 mr-3 rounded-full transition ease-in-out duration-300 border-2 border-white hover:border-blue-500">Digital Design</p>
    <p class="bg-white px-4 py-2 my-2 mr-3 rounded-full transition ease-in-out duration-300 border-2 border-white hover:border-blue-500">UI Design</p>
    </div>
    <div class=" hidden md:flex  gap-4 text-blue-950">
    <p class="bg-white px-4 py-2 my-2 mr-1 rounded-full transition ease-in-out duration-300 border-2 border-white hover:border-blue-500">Design Thinking</p>
    <p class="bg-white px-4 py-2 my-2 mr-3 rounded-full transition ease-in-out duration-300 border-2 border-white hover:border-blue-500">Kode</p>
    <p class="bg-white px-4 py-2 my-2 mr-1 rounded-full transition ease-in-out duration-300 border-2 border-white hover:border-blue-500">User Testning</p>
    <p class="bg-white px-4 py-2 my-2 mr-1 rounded-full transition ease-in-out duration-300 border-2 border-white hover:border-blue-500">Component Frameworks</p> 
</div>
-->

<script>
     import { inView } from "motion";
    
    //fadeIn
    
    const fadeIn = document.querySelector(".fadeIn");
    
    inView(fadeIn, () => {
    
        fadeIn.classList.add("animate__animated", "animate__fadeIn", "animate__delay-1.5s");
    
    }); 
    
    const fadeIn2 = document.querySelector(".fadeIn2");
    
    inView(fadeIn2, () => {
    
        fadeIn2.classList.add("animate__animated", "animate__fadeIn", "animate__delay-1s");
    
    }); 
    
    </script>