---
import LearnCards from "./LearnCards.astro";
---
<article> 
    <h2 class=" pt-20 pb-10 md:pb-12 lg:pb-16  text-center bg-neutral-100 text-2xl md:pt-36 lg:pt-48 md:text-3xl lg:text-4xl  xl:text-5xl ">HVAD JEG VIL</h2>
     
    <LearnCards titlel="Nye design frameworks og animation" textl="Løse digitale løsninger i figma evt lære mere i figma. Lære mere dybtegående animationer evt video content. Være med til at skabe nye design identiteter til virksomheder."/>
  

    <LearnCards titlel="Nye kode frameworks og bibloteker" textl="Bliv bedre til at implementere figma til koden. Lære nye frameworks/sprog"/>

    <LearnCards titlel="Nye design process og værktøjer" textl="Lære og indgå i et team og evt lære nye design metoder"/>

</article>

<script>

    import { inView } from "motion";
    
    
    //fadeInLeft
    
    const fadeIns1 = document.querySelector(".fadeIns1");
    
    inView(fadeIns1, () => {
    
        fadeIns1.classList.add("animate__animated", "animate__fadeInLeft", "animate__delay-1s");
    
    }); 
    
    const fadeIns3 = document.querySelector(".fadeIns3");
    
    inView(fadeIns3, () => {
    
        fadeIns3.classList.add("animate__animated", "animate__fadeInLeft", "animate__delay-1s");
    
    }); 
    
     //fadeInRight
    const fadeIns2 = document.querySelector(".fadeIns2");
    
    inView(fadeIns2, () => {
    
        fadeIns2.classList.add("animate__animated", "animate__fadeInRight", "animate__delay-1s");
    
    }); 
    </script>