---
import ProjectsCards from "./ProjectsCards.astro";
---
        
<div class="flex justify-between pt-10 lg:pt-20 xl:pt-44">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
</div>

<div class="container overflow-clip text-blue-950">

  <section id="horisontalscrollsection1" class="h-[500vh] relative">
    <h1 class="text-3xl lg:text-4xl xl:text-5xl absolute top-2 font-semibold mt-10 md:mt-20">Projects</h1>
    <ul id="horisontalliste1" class="list-none flex sticky top-0 p-8">
      <!--1 semester -->
      <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <img src="dot01.png" alt="prik" class="mx-auto">
        <h2 class="sticky top-1/4 text-2xl lg:text-4xl xl:text-4xl mx-auto font-medium">Term</h2>
      </li>
      <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <ProjectsCards imgp="/projects/emnesite.webp" titelp="Emnesite" textp="Here the task was to create a website with an optional optional theme and chose a specific style for design " linkp="https://emnesite1sem.netlify.app" linktextp="Emnesite"/>
      </li>

      <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <ProjectsCards imgp="/projects/interview_web.png" titelp="Interviewsite" textp="Here I interviewed an interesting person and had to create a website where the video from YouTube and the build-up to the video can be seen" linkp="https://videosite1s.netlify.app" linktextp="Interviewsite"/>
      </li>

      <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <ProjectsCards imgp="/projects/t5_web.png" titelp="Virksomhedssite" textp="Here, a new website was redesigned and coded for the valby park disc golf, which was the first company I had to work with" linkp="https://t5-1s-virksomhedssite.netlify.app" linktextp="Valbyparken - Disc golf"/>
      </li>

    </ul>
  </section>
</div>


<div class="container mx-auto p-8 overflow-clip text-blue-950">

  <section id="horisontalscrollsection2" class="h-[500vh] relative">

    <ul id="horisontalliste2" class="list-none flex sticky top-0">
      <!--2 semester -->
      <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <img src="dot02.png" alt="prik" class="mx-auto">
        <h2 class="sticky top-1/4 text-2xl lg:text-4xl xl:text-4xl mx-auto font-medium">Term</h2>
      </li>
      <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <ProjectsCards imgp="/projects/ca_designsystemm.png" titelp="CA" textp="Here, a campaign was created for the civil engineer's unemployment fund, where video content was created for Social Media" linkp="https://cat9kampagne.netlify.app" linktextp="CA: civils ingeniørens a-kasse"/>
      </li>

      <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <ProjectsCards imgp="/projects/oneBrick.webp" titelp="OneBrick" textp="2nd semester exam project, here a website was created for a newly started company with a focus on sustainability" linkp="https://onebrick.netlify.app" linktextp="OneBrick"/>
      </li>
    </ul>
  </section>
</div>

<div class="container mx-auto p-8 overflow-clip text-blue-950">

  <section id="horisontalscrollsection3" class="h-[500vh] relative">

    <ul id="horisontalliste3" class="list-none flex sticky top-0">
       <!--3 semester -->
       <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <img src="dot03.png" alt="prik" class="mx-auto">
        <h2 class="sticky top-1/4 text-2xl lg:text-4xl xl:text-4xl mx-auto font-medium">Term</h2>
      </li>
      <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <ProjectsCards imgp="/projects/cph-lab.webp" titelp="CPH-LAB" textp="3rd semester exam project, here a redesign was made for CPH-LAB, which is a company that sells analogue cameras and film development" linkp="https://cph-lab.netlify.app" linktextp="CPH-LAB"/>
      </li>

      <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <ProjectsCards imgp="/projects/plasticChange.webp" titelp="Plastic change" textp="
Here, a campaign was made which had to be made for a scrolly telling for plastic change with a focus on the use of bitmaps (i.e. ordinary photos), where we first make a detailed figma prototype" linkp="https://singleusesucksplasticchange.netlify.app" linktextp="Plastic change"/>
      </li>
    </ul>
  </section>
</div>

<div class="flex justify-between pt-10 lg:pt-20 xl:pt-44">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
  <img src="dot.png" alt="prik" class=" w-6 lg:w-8">
</div>

<script>
/* Import af Motion One bibliotek */
import { animate, stagger, inView, scroll, timeline } from "motion";

const items1 = document.querySelectorAll("#horisontalliste1 li");
const items2 = document.querySelectorAll("#horisontalliste2 li");
const items3 = document.querySelectorAll("#horisontalliste3 li");

scroll(
   animate("#horisontalliste1", {
     transform: ["none", `translateX(-${items1.length - 1}00vw)`]
   }),
   { target: document.querySelector("#horisontalscrollsection1") }
 ); 

 scroll(
   animate("#horisontalliste2", {
     transform: ["none", `translateX(-${items2.length - 1}00vw)`]
   }),
   { target: document.querySelector("#horisontalscrollsection2") }
 ); 

 scroll(
   animate("#horisontalliste3", {
     transform: ["none", `translateX(-${items3.length - 1}00vw)`]
   }),
   { target: document.querySelector("#horisontalscrollsection3") }
 ); 


 </script>


