---
const {imgp,titelp, textp, linkp} = Astro.props;
---

<a href={linkp} target="_blank" class="">
    <h4 class="text-xl font-medium">{titelp}</h4>
        <img src={imgp} class=" w-[340px] md:w-[300px] lg:w-[500px] xl:w-[1000px] rounded-lg md:grayscale hover:grayscale-0 duration-150 hover:shadow-md hover:shadow-blue-500">
    <p class="text-md max-w-[340px] md:max-w-[600px]">{textp}</p>
</a>