---

const {imgi,imgc, text} = Astro.props;

---
<div class="mx-auto">
<div class="relative w-[100px]"> 
    <img src={imgc} class="w-[200px]">
    <div class="absolute top-[30px] right-[30px]"> 
        <img src={imgi} class="w-10 h-10">
    </div>
    <p class="pb-4 w-full text-center  text-lg md:text-xl">{text}</p>
</div>
</div>
