---
import SkillsCards from "./SkillsCards.astro";

---

<article class="pt-8">
    <h2 class=" text-2xl  md:text-3xl lg:text-4xl  xl:text-5xl ">SKILLS</h2>
    <div class="lg:flex lg:justify-around"> 

        <section class="p-4 bg-neutral-500 rounded-md my-4">
            <h3 class="pb-8  text-xl lg:text-2xl xl:text-3xl">VÆRKTØJER</h3>
            <div class="grid grid-cols-2">
                <div class="mx-auto"> 
                <SkillsCards imgi="figma.png" imgc="full_circel.svg" text="Figma" />
                </div>
    
                <div class="mx-auto"> 
                <SkillsCards imgi="illustrator.png" imgc="circel4.svg" text="Illustrator" />
                </div>
    
                <div class="mx-auto"> 
                <SkillsCards imgi="xd.png" imgc="circel3.svg" text=" Adobe XD"/>
                </div>
    
                <div class="mx-auto"> 
                <SkillsCards imgi="vsc.png" imgc="full_circel.svg" text=" Visual Studio code" />
                </div>
    
                <div class="mx-auto"> 
                <SkillsCards imgi="spline.png" imgc="circel1.svg" text="Spline" />
                </div>
    
                <div class="mx-auto">
                <SkillsCards imgi="jitter.png" imgc="circel1.svg" text="Jitter"/>
                </div>

                <div class="mx-auto">
                    <SkillsCards imgi="framer.svg" imgc="circel1.svg" text="Framer"/>
                    </div>
            </div>
        </section>

    <section class=" p-4 bg-neutral-500 rounded-md my-4 ">
        <h3 class="pb-8   text-xl lg:text-2xl xl:text-3xl">SPROG</h3>
        <div class="grid grid-cols-2 ">
            <div class="mx-auto"> 
            <SkillsCards imgi="html.png" imgc="circel4.svg" text="HTML" />
            </div>

            <div class="mx-auto">
            <SkillsCards imgi="css.png" imgc="circel4.svg" text="CSS" /> 
            <div class="w-14"></div> </div>

            <div class="mx-auto">
            <SkillsCards imgi="astro.png" imgc="circel3.svg" text="Astro" />
              
            </div>

            <div class="mx-auto"> 
            <SkillsCards imgi="tailwind.svg" imgc="circel3.svg" text="Tailwind" />
                
            </div>

            <div class="mx-auto"> 
            <SkillsCards imgi="js.webp" imgc="circel2.svg" text="Js" />
                
            </div>

            <div class="mx-auto">
            <SkillsCards imgi="alpinejs.svg" imgc="circel2.svg" text="Alpine" />
             
            </div>

            <div class="mx-auto"> 
            <SkillsCards imgi="animatecss.svg" imgc="circel3.svg" text="Animate.css" />
             
            </div>

            <div class="mx-auto">
            <SkillsCards imgi="motionone.png" imgc="circel2.svg" text="Motion one" />
               
            </div>
        </div>
    </section>

    </div>
</article>

